[data-component=tools-edit] {
  padding: 20px;

  .card-box {
    height: 100%;
    width: 100%;

    .root-content {
      position: relative;
      width: 100%;
      height: 100%;

      > * {
        width: 0;
      }

      .draggable-mask {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  .draggable-content {
    position: fixed;
    inset-inline-end: 48px;
    inset-block-end: 48px;

    > * {
      position: relative;
      inset-inline-end: 0;
      inset-block-end: 0;
    }
  }
}
