@use "@/assets/css/constants" as constants;

body {
  background-color: constants.$background-color;
}

.left-panel {
  width: 16%;
  background-color: constants.$origin-color;
  user-select: none;

  .title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.6em;
    padding: 10px;
    color: constants.$main-color;
  }

  .content {
    > ul {
      > li {
        margin: 4px 14px;

        &.item {
          font-size: 1.4em;
          border-radius: 8px;
          overflow: hidden;

          .menu-bt {
            .icon {
              margin-right: 16px;
            }

            a {
              display: flex;
              padding: 8px 16px;
              height: 100%;
              width: 100%;

              .text {
                flex: 1;
              }

              &.active {
                color: constants.$origin-color;
                background-color: constants.$main-color;
              }
            }
          }

          &:hover {
            background-color: constants.$background-color;
          }
        }

        &.multiple-item {
          font-size: 1.4em;
          border-radius: 8px;
          overflow: hidden;

          .menu-bt {
            display: flex;

            .icon-box {
              cursor: pointer;
              padding: 8px 16px;

              .icon {
                transition: all 0.3s ease;
                transform: rotate(180deg);
              }
            }

            a {
              display: flex;
              padding: {
                top: 8px;
                bottom: 8px;
                right: 16px;
              };
              height: 100%;
              width: 100%;

              .text {
                flex: 1;
              }
            }
          }

          .submenu {

          }

          &.show {
            .menu-bt {
              .icon-box {
                .icon {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }

        .separate {
          height: 0;
          margin: 10px 0;
          border: {
            width: 1px;
            color: constants.$font-secondary-color;
            style: solid;
          };
          opacity: 0.4;
        }
      }
    }
  }
}

.right-panel {
  flex: 1;
  background-color: constants.$background-color;
}