.fit-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.direction-horizontal {
  flex-direction: row;
}

.direction-vertical {
  flex-direction: column;
}