@use '@/assets/css/constants' as constants;

#root {
  height: 100vh;
  width: 100vw;
}

.body {
  background-color: constants.$background-color;
  color: constants.$font-main-color;
  user-select: none;
  min-width: 900px;
  min-height: 400px;
}

.fill {
  height: 100%;
  width: 100%;
}

.fill-with {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.background-origin {
  background-color: constants.$origin-color;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center-box {
  display: flex;
  align-items: center;
}

.horizontal-center-box {
  display: flex;
  justify-content: center;
}

.icon-size-xs {
  width: 16px;
  height: 16px;

  > use {
    width: 16px;
    height: 16px;
  }
}

.icon-size-sm {
  width: 20px;
  height: 20px;

  > use {
    width: 20px;
    height: 20px;
  }
}

.icon-size-md {
  width: 24px;
  height: 24px;

  > use {
    width: 24px;
    height: 24px;
  }
}

.icon-size-lg {
  width: 32px;
  height: 32px;

  > use {

    width: 32px;
    height: 32px;
  }
}

.icon-size-xl {
  width: 64px;
  height: 64px;

  > use {
    width: 64px;
    height: 64px;
  }
}

.icon-size-menu {
  width: 23px;
  height: 23px;

  > use {
    width: 23px;
    height: 23px;
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}
