.nav {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: white;
  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: rgba(204, 204, 204, .33);
    }
  }

  .logo {
    padding: 0 40px;

    .title {
      font-size: 2.8em;
      font-family: century gothic, texgyreadventor, stheiti, sans-serif;
    }
  }
}