.hide-scrollbar-mask {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hide-scrollbar-selection {
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar-selection::-webkit-scrollbar {
  display: none;
}