[data-component=playground-code-editor] {
  width: 100%;
  height: 100%;

  .playground-code-editor-message {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #FF4D4FAA;
    padding: 5px 10px;
    font-size: 1.6em;
  }
}