@use '@/assets/css/constants' as constants;

[data-component=system-statistics] {
  .root-content {
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    > .card-box {
      width: 48%;
      flex: 0 0 auto;
    }
  }
}
