@use "@/assets/css/constants" as constants;

.icons {
  display: flex;
  gap: 20px;

  .icon {
    font-size: 8em;
    color: constants.$origin-color;
  }
}

.links {
  font-size: 2em;
  text-decoration: underline;
  color: constants.$origin-color;

  > * {
    color: constants.$origin-color;
  }
}